<div class="row " style="background-color: dimgray;;" >
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div>
      <br>
      <!-- <h2 class="" style="color: #ffc107;">Seleccione un Genero</h2> -->
      <div class="row">
          <div class="col-md-3" *ngFor="let item of data">
            <div class="card text-white bg-dark mb-3 " style="margin-left: 10px; margin-right: 10px;" >

              <div class="card-body text-center">
                <img src="./assets/genero.png" alt="Imagen no encontrada" style="height: 80px;" >

                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text" style="text-align: center;">
                  <button (click)="redirectToOtherComponent(item.id,item.name)" class="btn btn-sm btn-warning">Ver Películas</button>
                </p>
              </div>
            </div>
      </div>
  </div>

  </div>

  <div class="col-md-1"></div>
</div>
