<div class="row " style="background: linear-gradient(black 50%, blue); height: 900px;" >
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <br>
            <h2 class="text-warning">PELÍCULAS DE ESTRENO</h2>
        <div id="carouselExampleIndicators" class="carousel slide m-3" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://4.bp.blogspot.com/-MyiV28yYCrw/WSODsd4gzoI/AAAAAAAHqCk/omic1kk3MOcq2-H660AKFGlQg0r0SEEcgCLcB/s1600/guardians-of-the-galaxy%2B%25281%2529.jpg" class="d-block w-100" height="600px;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://i.ytimg.com/vi/SG_dim5MblE/maxresdefault.jpg" class="d-block w-100" alt="..." height="600px;">
            </div>
            <div class="carousel-item">
                <img src="https://w0.peakpx.com/wallpaper/593/742/HD-wallpaper-avatar-2-the-way-of-water-banner.jpg" class="d-block w-100" alt="..." height="600px;">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>